[submodule "themes/notepad-plus-plus"]
	path = themes/notepad-plus-plus
	url = https://github.com/jonypeixoto/Dark-Cyber-Notepad-Plus-Plus.git
[submodule "themes/figma"]
	path = themes/figma
	url = https://github.com/jonypeixoto/Dark-Cyber-Figma.git
[submodule "themes/windows-terminal"]
	path = themes/windows-terminal
	url = https://github.com/jonypeixoto/Dark-Cyber-Windows-Terminal.git
[submodule "themes/wallpaper"]
	path = themes/wallpaper
	url = https://github.com/jonypeixoto/Dark-Cyber-Wallpaper.git
[submodule "themes/swiftui"]
	path = themes/swiftui
	url = https://github.com/jonypeixoto/Dark-Cyber-SwiftUI.git
[submodule "themes/bbedit"]
	path = themes/bbedit
	url = https://github.com/jonypeixoto/Dark-Cyber-BBEdit.git
[submodule "themes/mysql-workbench"]
	path = themes/mysql-workbench
	url = https://github.com/jonypeixoto/Dark-Cyber-MySQL-WOrkbench.git
[submodule "themes/vscode"]
	path = themes/vscode
	url = https://github.com/jonypeixoto/Dark-Cyber-VSCode.git
[submodule "themes/telegram-ios"]
	path = themes/telegram-ios
	url = https://github.com/jonypeixoto/Dark-Cyber-Telegram-iOS.git
[submodule "themes/sublime"]
	path = themes/sublime
	url = https://github.com/jonypeixoto/Dark-Cyber-Sublime.git
[submodule "themes/obsidian"]
	path = themes/obsidian
	url = https://github.com/jonypeixoto/Dark-Cyber-Obsidian.git
[submodule "themes/calibre"]
	path = themes/calibre
	url = https://github.com/jonypeixoto/Dark-Cyber-Calibre.git
[submodule "themes/template"]
	path = themes/template
	url = https://github.com/jonypeixoto/Dark-Cyber-Template.git
[submodule "themes/website"]
	path = themes/website
	url = https://github.com/jonypeixoto/Dark-Cyber-Website.git
[submodule "themes/warp"]
	path = themes/warp
	url = https://github.com/jonypeixoto/Dark-Cyber-Warp.git
