[submodule "themes/notepad-plus-plus"]
	path = themes/notepad-plus-plus
	url = https://github.com/jonypeixoto/Dark-Cyber-Notepad-Plus-Plus.git
[submodule "themes/figma"]
	path = themes/figma
	url = https://github.com/jonypeixoto/Dark-Cyber-Figma.git
[submodule "themes/windows-terminal"]
	path = themes/windows-terminal
	url = https://github.com/jonypeixoto/Dark-Cyber-Windows-Terminal.git
[submodule "themes/wallpaper"]
	path = themes/wallpaper
	url = https://github.com/jonypeixoto/Dark-Cyber-Wallpaper.git
[submodule "themes/swiftui"]
	path = themes/swiftui
	url = https://github.com/jonypeixoto/Dark-Cyber-SwiftUI.git
[submodule "themes/bbedit"]
	path = themes/bbedit
	url = https://github.com/jonypeixoto/Dark-Cyber-BBEdit.git
[submodule "themes/mysql-workbench"]
	path = themes/mysql-workbench
	url = https://github.com/jonypeixoto/Dark-Cyber-MySQL-WOrkbench.git
